.sheader {
  width: 100%;
  height: .5rem;
  background-color: rgb(192, 192, 192);
  font-size: .5rem;
}

.tabContent {
  width: 90%;
  height: .5rem;
  line-height: .5rem;
  margin-left: 5%;
  text-align: center;
  box-sizing: border-box;
  font-size: .3rem;
}

.tabContent span {
  height: .4rem;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
  border-left: silver 1px solid;
}

.tabContent span:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.tabContent .tRight {
  border-right: silver 1px solid;
}